{% block menu %}
<li class="active has-sub">
    <a class="js-arrow" href="/"><i class="fas fa-cloud"></i>Download and analyze web page</a>
    <a class="js-arrow" href="/download"><i class="fas fa-download"></i>Download and save entire save</a>
    <a class="js-arrow" href="/list"><i class="fas fa-list"></i>Get List of URLs and Resources</a>
    <a class="js-arrow" href="/jobs"><i class="fas fa-th-list"></i>Job History</a>
    <a class="js-arrow" href="/instances"><i class="fas fa-bars"></i>Saved Instances</a>
</li>
{% endblock %}